.card {
  width: 228px;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.2em 0;
  background-color: white;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  max-width: 30rem;
  position: relative;
}

.card.gray {
  background-color: #777a85;
}

.card.dark {
  background-color: #1f2025;
}
