.flex {
  display: flex;
}

.white {
  color: white;
}

.mr {
  margin-right: 0.5rem;
}

.container {
  width: 228px;
  height: 356px;
  border-radius: 1rem;
  margin: auto;
  position: relative;
  cursor: pointer;
  perspective: 50rem;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.card {
  width: 228px;
  height: 356px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  backface-visibility: hidden;
  visibility: visible;
  transition: all 1.2s;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  z-index: 1;
}

.back {
  position: absolute;
  z-index: 2;
  transform: rotateY(-180deg);
}

.container:hover .front {
  transform: rotateY(180deg);
}

.container:hover .back {
  transform: rotateY(0deg);
}

.card.gray,
.container.gray {
  background-color: #777a85;
}

.card.dark {
  background-color: #1f2025;
}
