body {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
  cursor: pointer;
}

select,
textarea,
input {
  outline: none;
}
.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.jic {
  justify-content: center;
}
.fixed {
  position: fixed;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.noul {
  text-decoration: none;
}

.ibl {
  display: inline-block;
}

.bl {
  display: block;
}

.c333 {
  color: #333;
}

.c777 {
  color: #777;
}

.cfff {
  color: #fff;
}

.s13 {
  font-size: 13px;
}

.s14 {
  font-size: 14px;
}
.s15 {
  font-size: 15px;
}
.s18 {
  font-size: 18px;
}
.s20 {
  font-size: 20px;
}
.s24 {
  font-size: 24px;
}

.fontn {
  font-weight: normal;
}
.fontb {
  font-weight: bold;
}
