.header {
  width: 100%;
}

.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 500px;
  height: 40px;
  padding: 0.3rem 0.5rem;
  border: 1px solid #303030;
  font-size: 16px;
  color: white;
}

input:focus {
  outline: 0.3px solid #065fd4;
}

.searchButton {
  width: 64px;
  height: 40px;
  position: relative;
  padding: 0.3rem 0.5rem;
  background-color: #ffffff14;
  border: 1px solid #303030;
  cursor: pointer;
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: transparent;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
}

@media screen and (max-width: 768px) {
  .icon {
    display: none;
  }
  .navbar {
    justify-content: space-evenly;
  }
  .searchInput {
    width: 60%;
  }
}
